name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: TypeScript compile check
        run: npm run build

      - name: Run ESLint
        run: npm run lint
      - name: Fix ESLint permissions
        run: chmod +x ./node_modules/.bin/eslint 
