name: Close Stale Issues

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.BOT_TOKEN }}
          days-before-stale: 30
          days-before-close: 7
          stale-issue-message: "This issue has been marked stale due to inactivity."
          close-issue-message: "Closing due to inactivity."
          stale-issue-label: "stale"
